* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'open sans';
}

/*header*/

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}

header .logo {
    text-decoration: none;
    font-size: 3rem;
    color: black;
    font-weight: bolder;
}
header .navbar a{
    font-size: 15px;
    color: #666;
    text-align: right;
}


.contenedor {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
}
.contenido-textos p{
    padding: 0px 0px 30px 15px;
    font-weight: 300;
    text-align: justify;
}
.content {
    width: 40%;
}
.content h3 {
    font-size: 20px;
    text-align: center;
    color: #333;
}
.content p {
    font-size: 15px;
    color: #999;
    padding: 10px 0;
    padding-top: 10px;
    text-align: justify;
}
.heading {
    text-align: center;
    font-size: 30px;
    color: #333;
    padding: 1rem;
    margin: 2rem 0;
}

.heading span {
    color: rgb(233, 128, 122);
}
.contenedor-sobre-nosotros{
    display: flex;
    justify-content:left;
    width: 40%;
    bottom: auto;
    padding: 30px;
    padding: 15px 15px 30px 15px;
    margin-bottom: 15px;
border-radius: 30%;

}
.sobre-nosotros .contenido-textos{
    width: 48%;
}
.contenido-textos h3{
    margin-bottom: 15px;
}
.contenido-textos h3 span{
    background:darkgreen;
    color: #fff;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 2px;
    box-shadow: 0 0 6px 0 rgba(0,0,0,.5);
    margin-right: 5px;
}
.contenido-textos p{
    padding: 0px 0px 30px 15px;
    font-weight: 300;
    text-align: justify;
}
footer {
    background: #414141;
    padding: 60px 0;
    width: 100%;
    overflow: hidden; 
}


.titulo-final {
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: #9e9797;
}